@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--grey-color: rgb(227, 227, 227);
	--white-color: white;
	--blue-color: #1992d4;
	--article-border-color: #f0b429;
	--main-paragraph-color: rgb(93, 93, 93);

	--roboto-font: 'Roboto', Arial, Helvetica, sans-serif;
	--section-padding: 1rem 2rem;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--roboto-font);
}

body {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: auto auto auto;
}

/* NAV */
nav {
	color: var(--white-color);
	background-color: var(--blue-color);
	grid-column: 1;
	grid-row: 1 / -1;
	padding: 1rem;
	z-index: 2;
}

nav>ul {
	padding: 2rem 1rem;
}

li {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	list-style-type: none;
}

a {
	font-weight: bold;
	color: var(--white-color);
	text-decoration: none;
}

.navIcons {
	height: 1.5rem;
}

.title {
	display: flex;
	align-items: center;
}

/* HEADER */
header {
	box-shadow: 0 3px 3px 1px #0000004d;
	z-index: 1;
}

/* TOP HEADER */
.topHeader,
.topHeader>* {
	/* display: flex; */
	display: grid;
}

.topHeader {
	grid-template-columns: 1fr auto;
}

.topHeader {
	justify-content: space-between;
	padding: var(--section-padding);
	gap: clamp(5rem, 5vw + 1rem, 10rem);
}

.topHeader>* {
	align-items: center;
}

.search {
	grid-template-columns: auto 1fr;
	gap: 1.5rem;
}

.search>label>button {
	height: 2rem;
	background: none;
	border: 0;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.search>label>button:hover {
	transform: scale(1.2);
}

.search>label>button>img {
	height: 1rem;
}

.search>input {
	height: 2rem;
	background-color: var(--grey-color);
	border-radius: 2rem;
	border: 0;
	padding: 0 1rem;
}

.profile {
	font-weight: bold;
	grid-template-columns: auto auto auto;
	gap: 2.5rem;
}

.profile>img:nth-child(1) {
	height: 1.5rem;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.profile>img:nth-child(1):hover {
	transform: scale(1.2);

}

.profile>img:nth-child(2) {
	height: 3rem;
}

/* BOTTOM HEADER */
.bottomHeader {
	display: grid;
	grid-template-columns: auto 1fr auto auto auto;
	gap: 1rem;
	align-items: center;
	padding: var(--section-padding);
}

.bottomHeader>img {
	height: 4rem;
}

.introduction {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.5rem;
}

.introduction>h1 {
	line-height: 2rem;
}

.introduction>p:first-child {
	font-size: 0.8rem;
}

.bottomHeader>button {
	height: 2rem;
	width: 5rem;
	color: var(--white-color);
	background-color: var(--blue-color);
	border: 0;
	border-radius: 1rem;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.bottomHeader>button:hover {
	transform: scale(1.1);
}

/* MAIN */
main p {
	color: var(--main-paragraph-color);
}

main {
	background-color: var(--grey-color);
	min-height: 100vh;
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 1.5rem;
	gap: 1.5rem;
}

main>section>h1 {
	font-size: 1.25rem;
	margin: 1rem 0;
}

.articles {
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1.5rem;
}

.articles>article {
	background-color: var(--white-color);
	border-radius: 0.5rem;
	border-left: 0.5rem solid var(--article-border-color);
	padding: 2rem;
	box-shadow: 2px 2px 5px #0000004d;
	height: fit-content;
}

.articles>article>h1 {
	font-size: 1rem;
	margin-bottom: 0.25rem;
}

.articles>article>p {
	font-size: 0.9rem;
}

.projButtons {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	justify-content: end;
	gap: 1.5rem;
	margin-top: 2rem;
}

.projButtons>button {
	background: none;
	border: none;
	opacity: 0.5;
}

.projButtons>button>img {
	height: 1.55rem;
	transition: 0.2s ease-in-out;
}

.projButtons>button>img:hover {
	transform: scale(1.2);
}

/* ASIDE */
aside {
	display: grid;
	grid-template-rows: max-content max-content;
}

aside>section>h1 {
	font-size: 1.25rem;
	margin: 1rem 0;
}


.announcements {
	background-color: var(--white-color);
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 2px 2px 5px #0000004d;
}

.announcements>article>p {
	font-size: 0.8rem;
}

.announcements>article {
	padding: 0.5rem;
}

.announcements>article:not(:first-child) {
	border-top: 1px solid var(--grey-color);
}

/* ASIDE - trending */
.trending {
	background-color: var(--white-color);
	border-radius: 0.5rem;
	padding: 1rem 1.5rem;
	box-shadow: 2px 2px 5px #0000004d;
}

.trending>article {
	padding: 0.5rem 0;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1rem;
}

.trending>article>.text>.user {
	color: black;
	font-weight: bold;
}

.trendImage {
	height: 3rem;
}